html {
    background-color: rgb(36, 36, 36);

    background-image: url("img/abstract-space-background.png");
    background-size: cover;
    background-repeat: no-repeat;  
    height: 100%; 
}

/*COLOURS*/
.primary-background-color{
    background-color: rgb(146, 22, 0);
}
.secondary-background-color{
    background-color: rgb(53, 53, 53);
}
.tertiary-background-color{
    background-color: rgb(63, 63, 63);
}
.quaternary-background-color{
    background-color: rgb(93, 93, 93);
}
.quinary-background-color{
    background-color: rgb(113, 113, 113);
}

/*SCROLLBAR*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}  
/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgb(146, 22, 0);
} 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/*FONTS AND TEXT PROPERTIES*/
.font-abel{
    font-family: 'Abel', sans-serif;
}
.heading{
    font-size: 1.5em;
}
.sub-heading{
    font-size: 1.5em;
}

/*NAVBAR PROPERTIES*/
.nav-style{
    border-top: 0.05em solid rgb(146, 22, 0);
    border-bottom: 0.05em solid rgb(146, 22, 0);
    background-color: rgba(37, 35, 35, 0.8);
    width: 100%;
}

.nav-title{
    color: white;
    font-size: 1.3em;
}

/*ROWS AND COLUMN PROPERTIES*/
.main-row{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}
.w3-col{
    margin: 0.5em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    width: auto;
    height: 45.7em;
    background-color: rgba(37, 35, 35, 0.8);
    border: 0.05em solid white;
    color: white;
}

/*COLUMN TITLES*/
#column1-title{
    text-align: left;
    margin-left: 0.5em;
    margin-right: 30em;
    margin-bottom: 0em;
}
#column2-title{
    text-align: left;
    margin-left: 0.5em;
    margin-right: 25em;
}
#column3-title{
    text-align: left;
    margin-left: 0.5em;
    margin-right: 13em;
}

/*MULTIPLE ROWS - CHANGE COLUMN*/
.multiple-rows{
    margin-bottom: 0.5em;
    width: auto;
    background-color: rgba(0, 0, 0, 0.0);
    border-style: none;
    color: white;
}


/*COLUMN 1 - TRACK*/
#column1{
    position: relative;
}
#load-database{
    margin-top: 0.22em;
    height: 1.58em;
    width: 66.54em;
    padding: 0;
}
.dropdown-options{
    padding: 0;
    font-size: 0.8em;
}
.manage-databases-button{
    margin-left: 0.40em;
    border-style: none;
    color: white;
    font-size: 0.8em;
    padding-left: 0.3em;
    width: 10em;
}
.manage-databases-text{
    font-size: 0.5em;
    font-weight: bold;
}
#manage-arrow{
    margin-left: 1em;
    margin-bottom: 0.07em;
    border: solid white;
    border-width: 0 0.1em 0.1em 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    text-align: right;
}
.manage-databases-list{
    margin-left: 0.5em;
}
.database-frame{
    border: 0.05em solid rgb(146, 22, 0);
    margin: 0.4em;
}
.db-name{
    margin-left: 0.75em;
    font-size: 1em;
}
.entry-count{
    color: rgb(211, 61, 35);
    margin-left: 0.75em;
    font-size: 1em;
    margin-bottom: 0;
}
.last-updated{
    color: rgb(211, 61, 35);
    margin-left: 0.75em;
    font-size: 1em;
}
.text-margin{
    margin-top: -1em;
}
/*Database Command Buttons*/
.add-command-button{
    margin-left: 1em;
    margin-bottom: 1em;
}
.command-database-button{
    margin-right: -0.43em;
    border-style: none;
    color: white;
    font-size: 0.8em;
    padding-left: 0.3em;
    width: 14.95em;
    text-align: left;
}
#manage-databases-pop-up-box{
    border: 0.05em solid white;
    background-color: black;
    z-index: 1001;
    width: 20em;
    /*center*/
    text-align: center;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 20em;
    height: 17em;
    box-shadow: 0em 0em 1.3em #888888;
}
.create-database-title{
    font-size: 1em;
    text-align: left;
    margin-left: 0.5em;
    margin-bottom: 0;
}
.delete-database-title{
    font-size: 1em;
    text-align: left;
    margin-left: 0.5em;
    margin-bottom: 0;
}
.enter-database-name{
    font-size: 1em;
    text-align: left;
    margin-top: -0.3em;
    margin-left: 0.5em;
    margin-bottom: 0;
    color: rgb(211, 61, 35);
}
.input-name-text{
    font-size: 0.8em;
    font-weight: bold;
    padding: 0;
    text-align: left;
    background-color: rgb(146, 22, 0);
    color: white;
    width: 22.7em;
    margin-left: 0.5em;
    margin-bottom: 1em;
    padding-left: 0.35em;
}
.w3-select{
    float: left;
    margin-left: 0.5em;
    border: 0.0em solid white;
    background-color: rgb(146, 22, 0);
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    width: 22.7em;
    padding: 0;
    margin-bottom: 1em;
}
.database-button{
    margin-top: -0.7em;
    margin-right: 0.6em;
    margin-bottom: 0.8em;
    border-style: none;
    background-color: rgb(59, 59, 59);
    color: white;
    font-size: 0.8em;
    float: right;
}
#manage-box-arrow{
    margin-left: 1em;
    margin-bottom: 0.11em;
    border: solid white;
    border-width: 0 0.1em 0.1em 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    text-align: right;
}
.finish-button{
    margin-top: 0.3em;
    margin-right: 0.3em;
    margin-bottom: 0.5em;
    border-style: none;
    background-color: rgb(59, 59, 59);
    color: white;
    font-size: 0.8em;
    float: right;
}
/*COMMAND DATABASE WINDOWS*/
#add-entry-pop-up-box{
    border: 0.05em solid white;
    background-color: black;
    z-index: 1001;
    width: 20em;
    /*center*/
    text-align: center;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 20em;
    height: 17em;
    box-shadow: 0em 0em 1.3em #888888;
}
#alter-entry-pop-up-box{
    border: 0.05em solid white;
    background-color: black;
    z-index: 1001;
    width: 20em;
    /*center*/
    text-align: center;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 20em;
    height: 17em;
    box-shadow: 0em 0em 1.3em #888888;
}
#delete-entry-pop-up-box{
    border: 0.05em solid white;
    background-color: black;
    z-index: 1001;
    width: 20em;
    /*center*/
    text-align: center;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 20em;
    height: 17em;
    box-shadow: 0em 0em 1.3em #888888;
}
#sort-entry-pop-up-box{
    border: 0.05em solid white;
    background-color: black;
    z-index: 1001;
    width: 20em;
    /*center*/
    text-align: center;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 20em;
    height: 17em;
    box-shadow: 0em 0em 1.3em #888888;
}
#hide-entry-pop-up-box{
    border: 0.05em solid white;
    background-color: black;
    z-index: 1001;
    width: 20em;
    /*center*/
    text-align: center;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 20em;
    height: 17em;
    box-shadow: 0em 0em 1.3em #888888;
}

/*COLUMN 4 - MEDIA*/
.row1-images{
    margin-bottom: 0.5em;
    width: auto;
    height: 20em;
    background-color: rgba(37, 35, 35, 0.8);
    border: 0.05em solid white;
    color: white;
}
.row2-videos{
    margin-bottom: 0.5em;
    width: auto;
    height: 25.20em;
    background-color: rgba(37, 35, 35, 0.8);
    border: 0.05em solid white;
    color: white;
}
#row1-title{
    text-align: left;
    margin-left: 0.5em;
    margin-right: 50em;
}
#row2-title{
    text-align: left;
    margin-left: 0.5em;
}


/*VIDEO PROPERTIES*/
.youtubeVideo{
    margin: 1em;
}