.font-abel{
    font-family: 'Abel', sans-serif;
}
body, html {height: 100%}
#nav-bar{
    height:100%;
}
.nav-title{
    font-size: 2em;
}
.nav-subtitle{
    font-size: 1em;
}
.nav-link{
    text-decoration: none;
}

.welcomeBgImg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("img/index/iron-man-1-making-boot-01.jpg");
  min-height: 90%;
}
#welcome-text{
    margin-left: 1em;
}
.welcome-text-style{
    background-color: rgba(37, 89, 172, 0.904);
}

.computerBgImg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("img/index/BvS-bruce-wayne-computer.png");
    min-height: 70%;
}

.blogHeaderBgImg {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(26, 50, 88);
    min-height: 25%;
}

.blogPageHeaderBgImg {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(26, 50, 88);
    min-height: 90%;
}

.comic-tracker-bg{
    background: url(img/comic_tracker/batman_bg.png) no-repeat right bottom fixed; 
    -webkit-background-size: 32.5em 44.2em;
    -moz-background-size: 32.5em 44.2em;
    -o-background-size: 32.5em 44.2em;
    background-size: 32.5em 44.2em;
}
