.title-bahn{
  font-family: "bahnschrift condensed", Times, serif;
  color: white;
}

.font-bahn{
  font-family: "bahnschrift condensed", Times, serif;
}


.result-container{
  background: black;
  padding-bottom: 1.6em;
}

.panels{
  background: rgb(158, 19, 19);
  line-height: normal;
  float: left;
  width: 100%;
  font-family: "bahnschrift condensed", Times, serif;
  font-size: 1.5em;
  color: white;
  text-align: left;
}


i{
  margin-top: 0.3em;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  text-align: right;
}


.w3-bar{
  background: rgb(0, 0, 0);
  z-index: 1;
}

.w3-row{
  z-index: 1;
}


.go-button{
  width: 100px;
  font-size: 1.3em;
  background: rgb(158, 19, 19);
  color: white;
  float: right;
  margin-top: 0.5em;
}

.search-box{
  font-size: 1.3em;
}

.center-titleBox{
  padding-top: 15em;
  padding-bottom: 15em;
  padding-left: 10em;
  padding-right: 10em;
}

.center-titleBox-track{
  padding-top: 18.5em;
  padding-bottom: 18.5em;
  padding-left: 10em;
  padding-right: 10em;
}

.titleBox{
  padding: 1em;

  border: 5px solid rgb(158, 19, 19);
  border: 5px solid rgba(158, 19, 19, 0.6);
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.comicTrackerNavTitle{
  text-decoration: none;
}
.navFont{
  color: white;
  font-size: 1.2em;
  font-family: "bahnschrift condensed", Times, serif;
}

.smallerNavBar{
  font-size: 0.7em;
}

body, html {
  height: 100%;
  margin: 0;
  background: black;
}


.bg-fit-screen {
  /* The image used */
  background-image: url("img/wolverine-rooftop-1.jpg");
  /* Full height */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: fixed;
  width: 100%;
}

#myVideo {
  position: absolute;
  min-width: 100%; 
  min-height: 100%;
  z-index: 0;
  left: 50%; /* % of surrounding element */
  top: 50%;
  transform: translate(-50%, -50%); /* % of current element */
}

.content {
  position: fixed;
  width: 100%;
}


.login-container{
  border: 5px solid rgba(158, 19, 19, 0.6);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */


  font-family: "bahnschrift condensed", Times, serif;
  position: fixed; /* Stay in place */
  margin-left: auto;
  margin-right: auto;
  z-index: -1; /* Sit on top */
  width: 400px; /* Full width */
  height: 80%; /* Full height */
  max-height: 450px;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}




.Flipped{
    direction: ltr;
}


/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 8px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Set a style for all buttons */
button {
  background-color: rgb(158, 19, 19);
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  float: right;
}
/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}
/* Add padding to containers */
.container {
  padding: 16px;
}

.login-font{
  color: black;
  font-family: "bahnschrift condensed", Times, serif;
  font-size: 1.3em;
}
.login-button-font{
  color: white;
  font-family: "bahnschrift condensed", Times, serif;
  font-size: 1.3em;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}





.text-opacity{
  font-size: 2em;
  opacity: 1;
  filter: alpha(opacity=100);
}


.button-container{
  border: 5px solid rgba(158, 19, 19, 0.6);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */


  font-family: "bahnschrift condensed", Times, serif;
  position: fixed; /* Stay in place */
  margin-left: auto;
  margin-right: auto;
  z-index: -1; /* Sit on top */
  width: 600px; /* Full width */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button-font{
  font-family: "bahnschrift condensed", Times, serif;
  font-size: 3em;

}

.button-dimensions{
  width: 12em;
  margin: 0.1em;
}

.bg-parallax {
  /* The image used */
  background-image: url("img/wolverine-rooftop-1.jpg");
  /* Full height */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100px;
  position: fixed;
  width: 100%;
}

.parallax{
  /* The image used */
  background-image: url("img/wolverine-rooftop-1.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  min-height: 40em;


}