.font-abel{
    font-family: 'Abel', sans-serif;
}
.side-panel-row{
    height: 2.5em;
    line-height: 2.5em;
}
.side-panel-text{
    margin: 0;
    font-size: 1.3em;
    display: inline-block;
}
.side-panel-input{
    font-size: 1.3em;
    color:#15386F; 
    padding: 0;
    padding-right: 0.1em;
    font-weight: bold;
    display: block;
    float: right;
    text-align: right;
}
.side-panel-button{
    margin: 0 auto;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 1.5em;
    margin-bottom: 1em;
    display:block;
    background-color:#15386F; 
    color:white;
}


#upper-bar{
    height:2.2em;
    border-bottom: 0.05em solid rgb(95, 95, 95);
}
#lower-bar{
    height:2.2em;
}
.nav-title{
    font-size: 2em;
}
.nav-subtitle{
    font-size: 1em;
}
.nav-link{
    text-decoration: none;
}

.comic-tracker-bg{
    background: url(img/comic_tracker/batman_bg.png) no-repeat right bottom fixed; 
    -webkit-background-size: 32.5em 44.2em;
    -moz-background-size: 32.5em 44.2em;
    -o-background-size: 32.5em 44.2em;
    background-size: 32.5em 44.2em;
}
/**COMIC TRACKER START SECTION**/
#comic-tracker-start-section{
    border: 0.05em solid rgb(95, 95, 95);
    background-color: white;
    width: 35em;
    text-align: center;
    margin: 0;
    position: absolute;  
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#start-tracker-button{
    width: 25em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-bottom: 1em;
}

/**COMIC TRACKER VIEW TABLE SECTION**/
#comic-tracker-view-section{
    border: 0.05em solid rgb(95, 95, 95);
    background-color: white;
    min-height: 45em;
    width: 58.91em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
}
#load-database{
    margin:0;
    font-size: 1em;
}
.dropdown-options{
    font-size: 1em;
}
#manage-databases-button{
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 2em;
    padding-right: 2em;
    margin: 0;
    margin-top : 0.5em;
    margin-bottom: 1em;
}
#alter-tables-button{
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 2em;
    padding-right: 2em;
    margin: 0;
    margin-top : 0.5em;
    margin-bottom: 1em;
}
#view-options-button{
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 2em;
    padding-right: 2em;
    margin: 0;
    margin-top : 0.5em;
    margin-bottom: 1em;
}
/**COMIC TRACKER ALTER TABLE SECTION**/
#comic-tracker-alter-section{
    border: 0.05em solid rgb(95, 95, 95);
    background-color: white;
    min-height: 45em;
    width: 25em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
}
.tab-button{
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 1em;
    display:inline-block;
}
#load-add-table{
    margin-top: 1em;
}
#load-alter-table{
    margin-top: 1em;
}
#load-delete-table{
    margin-top: 1em;
}
.main-alter-table-section{
    border: 0.05em solid rgb(95, 95, 95);
    margin-top: 0.5em;
}
/**ALTER HEIGHT**/
#add-graphic-novel{
    max-height: 33em;
    overflow: auto;
}

/**COMIC TRACKER MANAGE DB SECTION**/
#comic-tracker-manage-section{
    border: 0.05em solid rgb(95, 95, 95);
    background-color: white;
    min-height: 45em;
    width: 25em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
}
.main-manage-database-section{
    border: 0.05em solid rgb(95, 95, 95);
    margin-top: 0.5em;
}
/**COMIC TRACKER VIEW OPTIONS SECTION**/
#comic-tracker-view-options-section{
    border: 0.05em solid rgb(95, 95, 95);
    background-color: white;
    min-height: 45em;
    width: 25em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
}

.main-view-options-section{
    border: 0.05em solid rgb(95, 95, 95);
    margin-top: 0.5em;
}
